<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="/js/jquery.bracket.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/style/jquery.bracket.min.css" />
  <link rel='stylesheet' href='/style/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html>