<div class="content">
    <h1>Cadastro de participantes
    </h1>
    <div class="main">
        <form action="/registro" method="POST">
            <h2>
                <img src="./images/logo.png">
            </h2>

            <h5>Nome:</h5>
            <input type="text" name="nome" placeholder="Digite seu nome">
            <h5>Email:</h5>
            <input type="text" name="email" placeholder="Email CVC">
            <h5>ID-Clash:</h5>
            <input type="text" name="idClash" placeholder="#ID Clash">
            <input type="submit" class="btn btn-lg btn-success" value="Enviar">
        </form>
    </div>
</div>

{{!-- https://zellwk.com/blog/crud-express-mongodb/ --}}