<div class="jumbotron">

    <div class="container">
        <h1>
            Registro
        </h1>

        <form action="/registro" method="POST">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" name="nome">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">ID-Clash:</label>
                <input type="text" class="form-control" name="idClash">
            </div>

            <button type="submit" class="btn btn-lg btn-success">Enviar</button>
        </form>
    </div>
</div>

{{!-- https://zellwk.com/blog/crud-express-mongodb/ --}}